<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script>
        function sendNotification() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/send_notification", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert("Notificação enviada, aguarde a confirmação para poder ler o livro!");
                }
            };

            var data = JSON.stringify({
                username: "{{ username }}",
                message: "Nova confirmação de pagamento!"
            });

            xhr.send(data);
        }
    </script>
</head>
<body>
    <h1>Bem vindo, {{ username }}!</h1>
    {% if success %}
        <p style="color: green;">{{ success }}</p>
    {% endif %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if username == 'admin' %}
        <h2>Adicionar Livro</h2>
        <form method="POST" action="/add_book">
            <label>Título:</label>
            <input type="text" name="title"><br>
            <label>Páginas:</label>
            <input type="number" name="pages"><br>
            <label>Código:</label>
            <input type="text" name="code"><br>
            <label>Preço:</label>
            <input type="number" step="0.01" name="price"><br>
            <label>Conteúdo:</label>
            <textarea name="content"></textarea><br>
            <input type="hidden" name="username" value="{{ username }}">
            <input type="submit" value="Add">
        </form>
    {% else %}
        <h2>Buy Book</h2>
        <!-- Formulário para comprar livro -->
        <form method="POST" action="/buy_book">
            <label>Code:</label>
            <input type="text" name="code"><br>
            <input type="hidden" name="username" value="{{ username }}">
            <input type="submit" value="Buy">
        </form>
        <button onclick="sendNotification()">Notify Admin</button>
    {% endif %}
    <h2>Books</h2>
    <ul>
        {% for book in books %}
            <li><a href="/read_book/{{ book['code'] }}">{{ book['title'] }}</a></li>
        {% endfor %}
    </ul>
    <p><a href="/">Logout</a></p>
</body>
</html>
